/*
Theme Name: AIUCD Theme
Theme URI: https://example.org/
Description: Child theme for Twenty Twenty-Four with custom feature symbol.
Author: Unica-dh
Template: twentytwentyfour
Version: 1.0
*/

@import url("../twentytwentyfour/style.css");
